<app-base-page></app-base-page>

<section class="mb-5">
    <h4 class="mb-5 text-center"><strong class="logotext">Faculty Details</strong></h4>

    <div class="row d-flex justify-content-left">
      <div class="col-md-6">
        <form>
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Example1">First name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form3Example2" class="form-control" />
                <label class="form-label" for="form3Example2">Last name</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Example1">School ID</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form3Example2" class="form-control" />
                <label class="form-label" for="form3Example2">Email</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Example1">Password</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form3Example2" class="form-control" />
                <label class="form-label" for="form3Example2">Date Created</label>
              </div>
            </div>
          </div>
          

          <!-- Email input -->
         
          <!-- Checkbox -->
         
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Create Faculty
          </button>

          <!-- Register buttons -->
         
        </form>
      </div>
    </div>
  </section>